# Template for local environment variables - Copy to .env and configure
# DO NOT COMMIT THE ACTUAL .ENV FILE TO VERSION CONTROL!

# Jenkins Connection Settings
JENKINS_URL="http://52.69.248.14:8080"
JENKINS_CREDS="admin:admin123"

# Kubernetes Configuration
KUBECONFIG_PATH="/home/rajan/Projects/Telephony-Infrastructure/scratch_kubeconfig"

# SSH / Bastion Jump Settings
# These settings will override paths in setup scripts
PROJECT_INFRA_DIR="/home/rajan/Projects/Telephony-Infrastructure"
PROJECT_APP_DIR="/home/rajan/Projects/Telephony"
