# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# --- Secrets ---
*.pem
*.key
.env

# --- Dynamic environment files ---
**/env.sh
**/hosts_k8s.yaml
**/tfplan
scratch_kubeconfig
**/.terraform.lock.hcl

# --- Built Artifacts ---
*.tar
